---
export const prerender = false;

import PlayerView from '@components/player/PlayerView';
import Layout from '@layout/layout.astro';

const { lobbyId } = Astro.params;
---

<Layout title={`Playing in Lobby ${lobbyId} | Ride the Bus`}>
  <main class="min-h-screen bg-gray-50">
    <PlayerView client:load lobbyId={lobbyId} />
  </main>
</Layout>